.h1_1{
			   color:rgb(107,194,156);
			   text-align: center
			   
    }
     .p_1{
       color:rgb(197,128,95);
       text-align: center
     }
     p{
       color:rgb(126,163,180);
     }
     .001{
       color:rgb(130,157,133);
       font-size:20px
     }
     .half-width{
          width:50%;
          float: right;
     }
     .side-img{
	width:30%;
	padding-left:100%;
	border-radius:90px;
     }
.primary_anchor{
	font-size:100px;	
	color:rgb(209,186,155);
	background-color:rgb(122,111,175);
	text-decoration:none;
    }
.primary_btn{
	color:rgb(0,0,0);
	padding:80px 80px;
	border-radius:90px;
	margin:20px;
    }
.small_btn{
	color:rgb (0,0,0);
	padding:30px 30px
.small_anchor{
	font-size:40px;	
	color:rgb(209,186,155);
	background-color:rgb(122,111,175);
	text-decoration:none;
    }
.madist{
	margin:29px;
    }
.s01{
	padding-left:5%;
	display: inline-block;
	float: right;
}
